{% use "ajax/game/partials/header_inventory.html.twig" with html as html_header %}
{% use "ajax/game/beyond/partials/inventory.html.twig" %}

<div data-trigger-event-name="mh-current-log-update"></div>

<div x-render-target="#wb-item-action-section">
    {% embed "ajax/game/actions.html.twig" with {'scout': active_scout_mode, 'hidden': citizen_hidden, 'iec': true, item_action_proxy: path('beyond_dashboard_partial_item_actions')} %}
    {% endembed %}
</div>

<div x-render-target="#header-rucksack-items" data-render-target-classes-toggle="expanded,{{ rucksack_size > 10 ? 1 : 0 }}">
    {{ block('html_header') }}
</div>

<div x-render-target="#inventory_partial_html">
    {{ block('html') }}
</div>

<div x-clear-target="[data-escort-inventory='1']"></div>
{% for other_citizen in other_citizens|filter(o => o.escortSettings and o.escortSettings.allowInventoryAccess and o.escortSettings.leader == citizen) %}
    <div x-render-target="#escort-inv-{{ other_citizen.id }}">
        {{ block('html_escort') }}
    </div>
    <div x-render-target="#escort-act-{{ other_citizen.id }}">
        {{ block('html_escort_actions') }}
    </div>
    <div x-render-target="#escort-act-list-{{ other_citizen.id }}">
        {{ block('html_escort_action_lists') }}
    </div>
{% endfor %}

<script>
    {{ block('includes') }}
    {{ block('js') }}

    {% embed "scripts/actions.js.twig" with {no_heroic: true} %}{% endembed %}

    handleActions(
        document.querySelectorAll('._ec [x-action-id][x-provoking-id][x-citizen][x-escort-meta-action]:not([disabled]), [x-action-id="p"][x-provoking-id="p"][x-citizen][x-escort-meta-action]'),
        '{{ path('beyond_desert_escort_action_controller') }}', '{{ path('beyond_dashboard') }}', document.getElementById('beyond_desert_content')
    );
</script>