{% extends "ajax/soul/shell.html.twig" %}
{% block soul_content %}
    <div class="row">
        <div class="cell rw-12 padded">
            <h5>{{ 'Deine importierten Seelen'|trans({},'soul') }}</h5>
            {% if souls|length == 0 %}
                <div class="note">{{ 'Du hast bisher keine Seelen importiert.'|trans({},'soul') }}</div>
            {% else %}
                <div class="note note-warning">
                    <b>{{ 'Twinoid existiert nicht mehr.'|trans({},'soul') }}</b>
                    <p>{{ 'Aufgrund der Schließung von Hordes und Twinoid am 2. November 2023 ist es nicht länger möglich, neue Seelen zu importieren oder die Daten bereits importierter Seelen zu aktualisieren.'|trans({},'soul') }}</p>
                </div>

                {% for soul in souls %}
                    {# @var soul \App\Entity\TwinoidImport #}
                    <div class="note">
                        <img alt="{{ soul.scope }}" src="{{ asset('build/images/favicon.ico') }}"> {% if soul.main %}<img alt="" src="{{ asset('build/images/icons/small_hero_up.gif') }}" /><div class="tooltip">{{ 'Es ist deine Hauptseele'|trans({},'soul') }}</div>{% endif%} <b>{{ services[soul.scope] }}</b>
                        <div class="small"><i>
                                {{ 'Angelegt: {d}'|trans({'{d}': soul.created|format_datetime('medium', 'medium') },'soul') }}
                                {% if soul.created != soul.updated %} / {{ 'Letztes Update: {d}'|trans({'{d}': soul.updated|format_datetime('medium', 'medium') },'soul') }}{% endif %}
                        </i></div>
                        <hr/>
                        <button x-ajax-href="{{ path('soul_import_viewer', {id: soul.id}) }}" class="inline small">
                            {{ 'Daten ansehen'|trans({},'soul') }}
                            <div class="tooltip">{{ 'Zeigt die zuletzt importierten Informationen an.'|trans({},'soul') }}</div>
                        </button>
                        {% if not read_only %}
                            <button data-fetch="{{ path('soul_import_confirm_api', {id: soul.id}) }}" data-fetch-method="post" data-fetch-load="{{ path('soul_import') }}" data-fetch-message-text="{{ 'Deine Seele wurde erfolgreich importiert!'|trans({},'soul') }}" class="inline small">
                                {{ 'Erneut importieren'|trans({},'soul') }}
                                <div class="tooltip">{{ 'Führt den Import-Vorgang erneut durch, ohne frische Daten von Twinoid abzurufen. Dies ist nützlich, wenn die importierten Daten durch ein MyHordes-Update nun besser verarbeitet werden können als dies beim letzten Import der Fall war. Diese Funktion wird auch nach der Abschaltung von Twinoid weiter zur Verfügung stehen.'|trans({},'soul') }}</div>
                            </button>
                            {% if soul.main and limited_import and is_limited %}
                                <div class="inline">
                                    <img alt="!" src="{{ asset('build/images/icons/small_warning.gif') }}"/>
                                    <div class="tooltip">
                                        <b>{{ 'Achtung, der Seelenimport unterliegt aktuell zusätzlichen Einschränkungen.'|trans({},'soul') }}</b>
                                        <p>{{ 'Es werden nach wie vor alle Informationen aus deiner importierten Seele auf MyHordes gespeichert. Durch den Import <b>neu</b> gewonnene Auszeichnungen, SP oder Heldenerfahrung wird jedoch <b>nur noch in einem gesonderten Bereich</b> auf deiner MH-Seele angezeigt.'|trans({},'soul')|raw }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            {% if select_main_soul %}
                                <button data-fetch="{{ path('soul_import_confirm_api', {id: soul.id}) }}" data-fetch-method="post" data-fetch-load="{{ path('soul_import') }}" data-fetch-message-text="{{ 'Diese Seele wurde erfolgreich als deine Hauptseele registriert!'|trans({},'soul') }}" data-confirm="{{ 'Bist du sicher, dass du diese Seele als deine Hauptseele festlegen willst. Dieser Vorgang kann nicht rückgängig gemacht werden!'|trans({},'soul') }}" class="inline small">
                                    <img alt="" src="{{ asset('build/images/icons/small_hero_up.gif') }}" />{{ 'Als Hauptseele wählen'|trans({},'soul') }}
                                    <div class="tooltip">
                                        {{ 'Legt diese Seele als Hauptseele fest und importiert Seelenpunkte und Heldenerfahrung.'|trans({},'soul') }}<br />
                                        <img alt="" src="{{ asset('build/images/icons/small_warning.gif') }}"> <b>{{ 'Du kannst nur eine deiner Seelen als Hauptseele festlegen und diese Auswahl auch nicht mehr ändern! Wähle also weise...'|trans({},'soul') }}</b>
                                    </div>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if can_reset and not read_only %}
                <h5>{{ 'Deine MyHordes-Seele zurücksetzen'|trans({},'soul') }}</h5>
                <div class="note">
                    <div>
                        {{ 'Wenn du eine Seele trotz der Import-Einstränkungen vollständig importieren möchtest, hast du <b>einmalig</b> die Option, deine MyHordes-Seele zurückzusetzen.'|trans({},'soul')|raw }}<br/><br/>
                        {{ 'Folgende Aspekte deiner Seele sind von diesem Reset <b>betroffen</b>:'|trans({},'soul')|raw }}
                        <ul>
                            <li>{{ 'Deine nach dem Ende der Alpha-Phase auf MyHordes erworbenen Seelenpunkte'|trans({},'soul') }}</li>
                            <li>{{ 'Deine nach dem Ende der Alpha-Phase im Rahmen von Städten erworbenen Auszeichnungen (einschließlich Ranking-Auszeichnungen, die am Ende einer Saison vergeben werden!)'|trans({},'soul') }}</li>
                        </ul>
                        {{ 'Folgende Aspekte deiner Seele sind von diesem Reset <b>nicht betroffen</b>:'|trans({},'soul')|raw }}
                        <ul>
                            <li>{{ 'Die Liste deiner bisher auf MyHordes gespielten Städte mit allen angehängten Informationen (Todesart, letzte Worte, überlebte Tage, etc)'|trans({},'soul') }}</li>
                            <li>{{ 'Spezielle Auszeichnungen, wie beispielsweise die Alpha-Auszeichnung'|trans({},'soul') }}</li>
                            <li>{{ 'Gegenstände in deinem spiritueller Rucksack'|trans({},'soul') }}</li>
                            <li>{{ 'Deine gespielten Heldentage'|trans({},'soul') }}</li>
                            <li>{{ 'Seelenpunkte oder Auszeichnungen, die du importiert hast'|trans({},'soul') }}</li>
                        </ul>
                        <div class="row">
                            <button data-fetch="{{ path('soul_import_soft_reset_api') }}" data-fetch-method="post" data-fetch-load="{{ url('soul_import') }}" data-fetch-confirm="{{ 'Bitte bestätige, dass du deine Seele zurücksetzen möchtest. Du kannst diese Aktion NUR EIN MAL ausführen. Diese Aktion KANN NICHT RÜCKGÄNGIG GEMACHT WERDEN!'|trans({},'soul') }}" class="small inline float-right">{{ 'Meine Seele zurücksetzen'|trans({},'soul') }}</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}