{% apply spaceless %}
{% if debug %}
    <div class="debug_info row-flex content-center-vertical">
        <div class="padded-small cell grow-1">
            <img alt="" src="{{ asset('build/images/icons/warning_anim.gif') }}" />&nbsp;<b>PRE-RELEASE VERSION</b>
            <div style="font-size: 0.7rem">
                Please report issues on <a href="https://gitlab.com/eternaltwin/myhordes/myhordes/-/issues">GitLab</a> or the <a href="{{ url('forum_list') }}">World Forum</a>!
                <br/>
                Help translate MyHordes on <a href="https://crwd.in/myhordes">Crowdin</a>!
            </div>

        </div>
        <div class="padded-small cell version shrink-0">
            <div class="version-badge-global"><img alt="" src="{{ asset('build/images/icons/small_world.gif') }}" />&nbsp;<b>{{ version.major }}.{{ version.minor}}.{{ version.patch}}</b></div>
            {% if version.isPreRelease %}
                {% set prerelease = version.preRelease.toString|split('.') %}
                {% if prerelease|length > 0 %}
                    <div class="version-badge-pre"><img alt="" src="{{ asset('build/images/actions/lab.gif') }}" />&nbsp;<i>{{ prerelease[0] }}</i> {{ prerelease[1] ?? '' }}</div>
                    {% if prerelease|length > 3 %}
                        <div class="version-badge-build"><img alt="" src="{{ asset('build/images/icons/small_middot.gif') }}" />&nbsp;[ {{ prerelease[3] }} ]</div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="debug_info_release">
        {% set link = conf().versionLinkOverrideFor(app.locale) %}
        <div {{ {'version': true, 'pointer': link is not null }|classes }}>
            <{{ (link is not null ? ('a ' ~ 'target="_blank" href="' ~ link ~ '"') : 'div')|raw }} class="version-badge-global">
                <img alt="" src="{{ asset('build/images/icons/small_world.gif') }}" />&nbsp;<b>{{ version.major }}.{{ version.minor}}.{{ version.patch}}</b>
                {% if version.isPreRelease %}
                    {% set prerelease = version.preRelease.toString|split('.') %}
                    {% if prerelease|length > 0 %}
                        &nbsp;<i>{{ prerelease[0] }} {{ prerelease[1] ?? '' }}</i>
                    {% endif %}
                {% endif %}
            </{{ link is not null ? 'a' : 'div' }}>
        </div>
    </div>
{% endif %}
{% endapply %}