{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    {{parent()}}
    <li class="back-dash" x-ajax-href="{{ url('game_landing') }}">{{ 'Zum Spiel'|trans({},'global') }}</li>
{% endblock %}
{% block title %}{{ 'Zukunft'|trans({}, 'admin') }}{% endblock %}
{% block ajax %}
    <div class="row">
        <div class="cell rw-12">

            <ul class="tabs plain" x-tab-group="admin-announcements" x-tab-control x-tab-default="{{ tab }}">
                {% if is_granted('ROLE_CROW') %}
                    <li class="tab" x-tab-id="changelog"><div class="tab-link">{% trans from 'admin' %}Changelogs{% endtrans %}</div></li>
                {% endif %}
                <li class="tab" x-tab-id="announcement"><div class="tab-link">{% trans from 'admin' %}Ankündigungen{% endtrans %}</div></li>
                <li class="tab"><div class="tab-link" x-ajax-href="{{ path('admin_polls') }}">{% trans from 'soul' %}Umfragen{% endtrans %}</div></li>
            </ul>

            {% if is_granted('ROLE_CROW') %}
                <div x-tab-group="admin-announcements" x-tab-id="changelog" x-tab-target>
                    <div class="row">
                        <div class="cell padded rw-3 rw-md-6 rw-sm-12">
                            <button id="new_changelog">
                                {{'Neue Update'|trans({}, 'admin')}}
                            </button>
                        </div>
                    </div>
                <div id="changelog-forum-editor"></div>
                <div class="row-table">
                    <div class="row header">
                        <div class="cell padded rw-8 rw-lg-6 rw-sm-12">
                            <span>{{ "Titel" |trans({}, 'admin') }}</span>
                        </div>
                        <div class="cell padded rw-2 rw-lg-3 hide-sm">
                            <span>{{ "Version" |trans({}, 'admin') }}</span>
                        </div>
                        <div class="cell padded rw-2 rw-lg-3 right hide-sm">
                            <span>{{ "Aktionen" |trans({}, 'admin') }}</span>
                        </div>
                    </div>
                    {% for new in news %}
                        <div class="row">
                            <div class="cell padded rw-8 rw-lg-6 rw-sm-12">
                                <img alt="{{ new.lang }}" src="{{ asset('build/images/lang/' ~ new.lang ~ '.png' ) }}"/>
                                {{ new.title }}
                            </div>
                            <div class="cell padded rw-2 rw-lg-3 rw-sm-8">
                                <span>{{ new.version }}</span>
                            </div>
                            <div class="cell padded rw-2 rw-lg-3 rw-sm-4 right">
                                {% if is_granted('ROLE_ADMIN') or new.author == app.user %}
                                    <span data-return="{{ path('admin_changelogs', {tab: 'changelog'}) }}" data-url="{{ path('admin_changelog_del_changelog', {id: new.id}) }}" class="pointer"><img alt="" src="{{ asset('build/images/icons/small_remove.gif') }}"></span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div x-tab-group="admin-announcements" x-tab-id="announcement" x-tab-target>
                <div class="row">
                    <div class="cell padded rw-3 rw-md-6 rw-sm-12">
                        <button id="new_announce">
                            {{'Neue Ankündigung'|trans({}, 'admin')}}
                        </button>
                    </div>
                </div>
                <div id="announcement-forum-editor"></div>
                <div class="row-table">
                    <div class="row header">
                        <div class="cell padded rw-10">
                            <span>{{ "Titel" |trans({}, 'admin') }}</span>
                        </div>
                        <div class="cell padded rw-2 hide-sm right">
                            <span>{{ "Aktionen" |trans({}, 'admin') }}</span>
                        </div>
                    </div>
                    {% for new in announces %}
                        <div class="row">
                            <div class="cell padded rw-10">
                                <img alt="{{ new.lang }}" src="{{ asset('build/images/lang/' ~ new.lang ~ '.png' ) }}"/>
                                <span {{ {'style': new.validated ? '' : 'opacity: 0.5'}|attributes }}>{{ new.title }}</span>
                            </div>
                            <div class="cell padded rw-2 right">
                                {% if is_granted('ROLE_ADMIN') and not new.validated %}
                                    <span data-return="{{ path('admin_changelogs', {tab: 'announcement'}) }}" data-url="{{ path('admin_changelog_val_announcement', {id: new.id}) }}" class="pointer"><img alt="" src="{{ asset('build/images/icons/done.png') }}"></span>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') or new.sender == app.user %}
                                    <span data-return="{{ path('admin_changelogs', {tab: 'announcement'}) }}" data-url="{{ path('admin_changelog_del_announcement', {id: new.id}) }}" class="pointer"><img alt="" src="{{ asset('build/images/icons/small_remove.gif') }}"></span>
                                {% endif %}
                                <span data-load="{{ path('admin_changelog_render_announcement', {id: new.id}) }}" data-load-into-all="[id^='pm-loader-target-']" data-load-into="#pm-loader-target-{{ new.id }}" class="pointer"><img alt="" src="{{ asset('build/images/icons/small_more.gif') }}"></span>
                            </div>
                            <div id="pm-loader-target-{{ new.id }}" class="cell padded rw-12 pm-message-content"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
        (function() {
            {% if is_granted('ROLE_CROW') %}
                $.html.addEventListenerAll('#new_changelog' ,'click', function() {
                    let target = document.getElementById("changelog-forum-editor");
                    target.innerHTML = "";
                    $.ajax.no_history().load( target, '{{ path('admin_new_changelog_editor_controller') }}', false )
                });
            {% endif %}

            $.html.addEventListenerAll('#new_announce' ,'click', function() {
                let target = document.getElementById("announcement-forum-editor");
                target.innerHTML = "";
                $.ajax.no_history().load( target, '{{ path('admin_new_announcement_editor_controller') }}', false )
            });

            $.html.addEventListenerAll('*[data-url]' ,'click', function(e,elem) {
                if (confirm('{{ 'Bestätigen?'|trans({},'global')|e('js') }}'))
                    $.ajax.easySend( elem.dataset.url, {},
                        function () {
                            $.ajax.load(null, elem.dataset.return ?? '{{ path('admin_changelogs') }}', true);
                        } );
            });

            $.html.addEventListenerAll('*[data-load][data-load-into]' ,'click', function(e,elem) {
                if (elem.dataset.loadIntoAll)
                    $.html.forEach( elem.dataset.loadIntoAll, e => e.innerHTML = '' );

                const target = document.querySelector( elem.dataset.loadInto );
                if (!target) return;

                target.appendChild( $.html.createElement( '<div class="loading"></div>' ) );

                $.ajax.easySend( elem.dataset.load, {}, data => target.innerHTML = data?.html ?? '' );
            });
        })();

    </script>
{% endblock %}